#**Global Healthy Diet Cost Analysis (2017–2024)**

#**Import Library**

In [ ]:
import pandas as pd

#**Memuat Dataset**

In [2]:
import pandas as pd

file = "/content/price_of_healthy_diet_clean (1).csv"

df = pd.read_csv(file)

df

,country_code,country,region,year,cost_healthy_diet_ppp_usd,annual_cost_healthy_diet_usd,cost_vegetables_ppp_usd,cost_fruits_ppp_usd,total_food_components_cost,cost_category,data_quality
0,8,Albania,Africa,2017,3.04,1109.60,NaN,NaN,NaN,High Cost,Estimated value
1,8,Albania,Africa,2018,3.13,1142.45,NaN,NaN,NaN,High Cost,Estimated value
2,8,Albania,Africa,2019,3.32,1211.80,NaN,NaN,NaN,High Cost,Estimated value
3,8,Albania,Africa,2020,3.40,1241.00,NaN,NaN,NaN,High Cost,Estimated value
4,8,Albania,Africa,2021,3.49,1273.85,0.60,0.77,1.37,High Cost,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...
1374,894,Zambia,Europe,2021,3.28,1197.20,0.31,0.36,0.67,High Cost,Estimated value
1375,894,Zambia,Europe,2022,3.61,1317.65,NaN,NaN,NaN,High Cost,Estimated value
1376,894,Zambia,Europe,2023,3.81,1390.65,NaN,NaN,NaN,High Cost,Estimated value
1377,894,Zambia,Europe,2024,3.99,1456.35,NaN,NaN,NaN,High Cost,Estimated value
1378,716,Zimbabwe,Europe,2017,3.54,1292.10,NaN,NaN,NaN,NaN,Estimated value

In [3]:
df.head(2)

,country_code,country,region,year,cost_healthy_diet_ppp_usd,annual_cost_healthy_diet_usd,cost_vegetables_ppp_usd,cost_fruits_ppp_usd,total_food_components_cost,cost_category,data_quality
0,8,Albania,Africa,2017,3.04,1109.60,NaN,NaN,NaN,High Cost,Estimated value
1,8,Albania,Africa,2018,3.13,1142.45,NaN,NaN,NaN,High Cost,Estimated value

In [4]:
df.tail()

,country_code,country,region,year,cost_healthy_diet_ppp_usd,annual_cost_healthy_diet_usd,cost_vegetables_ppp_usd,cost_fruits_ppp_usd,total_food_components_cost,cost_category,data_quality
1374,894,Zambia,Europe,2021,3.28,1197.20,0.31,0.36,0.67,High Cost,Estimated value
1375,894,Zambia,Europe,2022,3.61,1317.65,NaN,NaN,NaN,High Cost,Estimated value
1376,894,Zambia,Europe,2023,3.81,1390.65,NaN,NaN,NaN,High Cost,Estimated value
1377,894,Zambia,Europe,2024,3.99,1456.35,NaN,NaN,NaN,High Cost,Estimated value
1378,716,Zimbabwe,Europe,2017,3.54,1292.10,NaN,NaN,NaN,NaN,Estimated value

#**Business Understanding**

#**Business Objective**

Business objective dari dataset price_of_healthy_diet_clean.csv adalah untuk menganalisis dan membandingkan biaya diet sehat di berbagai negara guna mengetahui tingkat keterjangkauan makanan sehat berdasarkan kondisi ekonomi masing-masing negara. Analisis ini bertujuan mengidentifikasi negara dengan biaya diet tertinggi dan terendah, serta melihat hubungan antara biaya diet sehat dengan indikator ekonomi seperti GDP per kapita, sehingga dapat mendukung pengambilan keputusan dalam kebijakan ketahanan pangan, perencanaan anggaran, dan penelitian terkait aksesibilitas makanan sehat secara global.

#**Assess Situation**

menunjukkan bahwa terdapat perbedaan signifikan dalam biaya diet sehat antar negara yang dipengaruhi oleh kondisi ekonomi, tingkat pendapatan, dan daya beli masyarakat.

#**Analytic Goals Project Plan**

Dalam Dataset ini dilakukan:

    -Analisis Deskriptif Biaya Diet Sehat
    -Analisis Komparatif dan Pengelompokan Negara
    -Analisis Hubungan dengan Faktor Ekonomi